<nav class="container-sections-filtrs-list">
    <div class="container-information-day">
        <span class="information-day">Last updated on: 01º March, 2022</span>
    </div>

    <div class="container-filters-list">
        <button class="button-filters-list">
            <i class='bx bx-message-square-check'></i>
            <span>All tasks</span>
        </button>

        <button class="button-filters-list">
            <i class='bx bx-sort-alt-2'></i>
            <span>Sort</span>
        </button>

        <button class="button-filters-list">
            <i class='bx bx-grid-alt'></i>
            <span>Customize</span>
        </button>

        <button class="button-filters-list">
            <i class='bx bx-slider-alt'></i>
            <span>Filter</span>
        </button>
    </div>
</nav>