@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body {
    overflow-y: hidden;
}

ui-view {
    display: flex;
}

span,
p,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 35px;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cl-02);
    color: var(--cl-gray-08);
    background-color: var(--cl-00);
    font-size: var(--font-smd) !important;
    transition: 0.3s;
    cursor: pointer;
}

:is(button[disabled]) {
    color: #666666 !important;
    background-color: var(--cl-gray-01) !important;
    cursor: inherit !important;
}

button:hover {
    color: var(--cl-04);
    background-color: var(--cl-01);
    cursor: pointer;
}

button.button-help {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    margin: 20px;
    padding: 0;
    font-size: var(--font-lg);
}