<header class="container-header-pages">
    <div class="container-title-viewer">
        <div class="container-title-filters">
            <h1 class="title-main">Project Board</h1>
            <button class="button-filter-status filter-success">
                <i class='bx bxs-circle'></i>
                <span>In Progress</span>
                <i class='bx bxs-chevron-down'></i>
            </button>
        </div>

        <div class="container-previw-grid-inline">
            <span>View by: </span>
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round">
                    <i class='bx bx-grid-horizontal horizontal'></i>
                    <i class='bx bx-grid-vertical vertical'></i>
                </div>
            </label>
        </div>
    </div>

    <div class="container-members-filters">
        <div class="container-add-members">
            <div class="container-section-members">
                <div class="container-members-avatar">
                    <span class="members-avatar">
                        <img src="../../src/assets/imgs/Users/user-1.jpg">
                    </span>
                    <span class="members-avatar">
                        <img src="../../src/assets/imgs/Users/user.jpg">
                    </span>
                    <span class="members-avatar">
                        <img src="../../src/assets/imgs/Users/user-4.jpg">
                    </span>
                    <span class="numbers-profile">+2</span>
                </div>
            </div>
            <button class="button-add-members"><span>Add member +</span></button>
        </div>
    </div>
</header>